body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgb(242, 242, 242);
    padding-left: 15%;
    padding-right: 15%;
}
header {
    display: flex;
    flex-direction:row; 
    align-items: center;
    margin-down: 100;
    background-color: #dacfd1; 
    padding: 30px 20px; 
}
header img {
    height: 200px; 
    width: auto; 
    background-color: #ffffff; 
    mix-blend-mode: multiply; 
 
}

header h2 {
    margin-right: 100px; 
}

textarea {
    width: 250%; 
    padding: 8px;
    box-sizing: border-box; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    resize: vertical; 
}

form {
    width: 80%; 
    max-width: 120px; 
    display:flexbox;
    flex-direction: column; 
    gap: 10px; 
    margin-right: 180px;
}
.header .button {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #BDA9AA; 
    color: #000; 
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.header .button:hover {
    background-color: #9e8f9e; 
    cursor: pointer;
}

main{
    background-color: rgb(255, 255, 255);
}
aside{
    margin-right: 100%;
}
video{
    padding: 30%
    width: 400; height: 200;
}
progress {
    
    -webkit-appearance: none;
    appearance: none;

    background-color: #eee;
    width: 70%; 
    height: 15px; 
}

progress::-webkit-progress-bar {
    background-color: #DACFD1; 
}

progress::-webkit-progress-value {
    background-color: #BDA9AA;
}

progress::-moz-progress-bar {
    background-color: #BDA9AA; 
}

progress::-ms-fill {
    background-color: #BDA9AA;
}


footer{
    background-color: white;
}
